name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: messaging_app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/messaging-app:latest

      - name: Verify Docker Image
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/messaging-app:latest
          docker images ${{ secrets.DOCKER_USERNAME }}/messaging-app:latest
